header {
  text-align: center;

  h1 {
    font-weight: 700;
    letter-spacing: .15rem;
  }
}

body {
  position: relative;
}

.form-search-product {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    border: 1px solid #ccc;
    width: 400px;
  }
}

.cont-products {
  display: flex;
  margin-top: 20px;

  h2 {
    margin-top: 0;
  }
}

.cont-products-grid {
  flex-grow: 1;

  .products-grid {
    padding: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
}

.cont-card-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 380px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem;
  transition: ease 300ms;

  &:hover {
    transform: scale(1.06);
    cursor: pointer;
  }
}

.cont-image-product {
  aspect-ratio: 16/9;
  height: 200px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.cont-image-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cont-price-unid-product {
  display: flex;
  justify-content: space-between;
  align-items: end;

  p {
    margin: 0;
  }

  .price-product {
    color: green;
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.cont-filters-products {
  width: 250px;
  p {
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding-left: 15px;
  }
}

.gallery-images {
  width: 410px;
  padding: 15px;
}

.main-image {
  height: 300px;
  width: 410px;
  object-fit: cover;
}

.all-images {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.secondary-image {
  height: 160px;
  width: 200px;
  object-fit: cover;
  aspect-ratio: 16/9;
  transition: ease 300ms;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }
}

.product-info {
  flex-grow: 1;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;

  h2 {
    margin-top: 3rem !important;
    font-weight: bold;
  } 
}

.cont-sale-info {
  display: flex;
  justify-content: space-between;
  align-items: end;

  .price-modal {
    color: green;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.add-to-cart {
  margin: 0;
  margin-top: 16px;
}

.no-scroll {
  overflow: hidden;
}